/* src/styles/Designing.css */

.designing-container {
  position: relative;
  min-height: 100vh;
  padding-left: 250px; /* space for sidebar */
  transition: filter 0.3s ease;
}

.blurred {
  filter: blur(3px);
}

.trainer-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.trainer-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Filter Modal */
.filter-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.2);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.filter-box {
  background: white;
  width: 400px;
}
