.sidebar {
  width: 250px;
  background-color: #000;
  color: white;
}
.sidebar .nav-item {
  padding: 10px;
  cursor: pointer;
}
.sidebar .nav-item.active,
.sidebar .nav-item:hover {
  background-color: #d6f742;
  color: black;
  font-weight: bold;
}